
    .header {
        z-index: 100;
        height: 80px;
        background-color: #fff;
        border-bottom: 1px solid #eef1f1;
        padding-left: 47px;
        padding-right: 47px;
        position: fixed;
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
    }
    .header_container {
        z-index: 103;
        width: 100%;
        height: 100%;
        max-width: 1110px;
        grid-column-gap: 32px;
        justify-content: flex-start;
        margin-right: auto;
        position: relative;
    }
    .header_logo {
        align-items: center;
        display: flex;
        width: 165px;
    }
    .header_menu {
        height: 100%;
        grid-column-gap: 32px;
        flex: 1;
        align-items: center;
        margin-left: 40px;
        margin-right: 20px;
        display: flex;
    }
    .header_menu-toggle {
        font-size: 16px;
        font-weight: 400;
        color: #222222;
        line-height: 1.7;
        cursor: pointer;
        text-wrap-mode: nowrap;
    }
    .header_buttons {
        grid-column-gap: 16px;
    }
    .header_buttons, .header_container {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .arrow_link {
        display: flex;
        grid-column-gap: 6px;
        color: #182cc0;
        text-transform: uppercase;
        flex: none;
        align-items: center;
        font-size: 14px;
        font-family: 'TBCXMedium', sans-serif;
        font-weight: 700;
        line-height: 1.4;
        text-decoration: none;
        transition: color .25s ease-in-out;
        cursor: pointer;
    }
    .arrow_link:hover {
        color: #3999D0;
    }
    .search_logo {
        justify-content: center;
        align-items: center;
        transition: color .25s;
        cursor: pointer;
        display: flex;
    }
    .search_logo svg {
        fill: #555F62;
        transition: fill .25s ease-in-out;
    }
    .icon svg {
        fill: #555f62;
        transition: fill .25s ease-in-out;
    }

    .search_logo:hover svg {
        fill: #3295CE;
    }
    .arrow_logo{
        z-index: 2;
        justify-content: center;
        align-items: center;
        transition: transform .6s ease-in-out;
        display: flex;
        position: relative;
    }
    .arrow_text{
        z-index: 2;
        margin-top: 2px;
        transition: transform .6s ease-out;
        position: relative;
    }
    .lang_toggle {
        color: #555f62;
        font-size: 14px;
        font-family: 'TBCXMedium', sans-serif;
        height: 36px;
        grid-column-gap: 4px;
        cursor: pointer;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 700;
        transition: background-color .25s ease-in-out;
        display: flex;
    }
    .lang_icon {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .lang_text {
        font-weight: 700;
    }
    .search_logo{
        padding: 8px;
    }

    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_logo {
        display: flex;
        align-items: center;
    }

    .header_buttons {
        display: flex;
        align-items: center;
    }

    .lang_menu {
        display: none;
        position: absolute;
        background: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        top: 40px;
        right: 0;
    }

    .lang_dropdown:hover .lang_menu {
        display: block;
    }

    .header_menu {
        display: flex;
    }

    .header_dropdown {
        position: relative;
        height:100%;
        margin-right: 0px;
        margin-left: 0px;
    }

    .header_dropdown-toggle {
        font-size: 14px;
        height: 100%;
        cursor: pointer;
        text-wrap: none;
        padding: 10px;
        text-align: left;
        color: #222222;
        align-items: center;
        padding: 0;
        display: flex;
    }

    .header_dropdown-line {
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        bottom: 0;
        background: transparent;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease-out, background 0.3s ease-in-out 0.6s;
    }

    .header_dropdown.active .header_dropdown-line {
        background: #182cc0;
        transform: scaleX(1);
        transition: transform 0.6s ease-in-out, background 0.3s ease-in-out;
    }
    .header_dropdown-list {
        display: flex;
        opacity: 0;
        position: absolute;
        top: 120%;
        left: 0;
        flex-direction: column;
        transition: opacity 0.4s ease-in-out;
        pointer-events: none; 
    }
    .header_dropdown.active .header_dropdown-list {
        opacity: 1;
        pointer-events: auto;
        transition-delay: 0.4s;
        z-index: 100;

    }
    .header_dropdown-link {
        color: #555f62;
        padding-right: 47px;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        transition: color .25s ease-in-out;
    }
    .header_dropdown-link:hover {
        color: #182cc0;
    }

    .header_dropdown-list a {
        padding: 10px;
        text-decoration: none;
        color: #000;
    }
    .header_dropdown-list a:hover {
        color: #182cc0;
    }
    .dropdown {
        opacity: 0;
        z-index: 1;
        min-height: 200px;
        background-color: #fff;
        visibility: hidden;
        padding-top: 32px;
        padding-bottom: 60px;
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        top: 80px;
        bottom: auto;
        left: 0;
        right: 0;
        pointer-events: none;
    }
    .dropdown.active {
        visibility: visible;
        opacity: 1; 
        transition: opacity 0.3s ease-in-out;
        pointer-events: auto; 
    }

    .header_dropdown-link-block {
        width: 190px;
        text-decoration: none;
    }
    .header_dropdown-link-block-image-wrapper {
        width: 100%;
        margin-bottom: 21px;
        padding-top: 0%;
        position: relative;
    }
    .dropdown-container {
        width: 100%;
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
    }
    .header_menu-mobile.active {
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
        display: block;
    }
    .header_menu-mobile {
        display: none;
        z-index: 102;
        background-color: #f9fafa;
        flex-direction: column;
        padding-top: 80px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.6s ease-in-out;
    }
    .footer_contact-item p {
        font-size: 16px;
        color: #555f62;
    }
    .footer_contact-item p:hover {
        text-decoration: underline;
    }
    .footer_social-link {
        width: 40px;
        height: 40px;
        background-color: #f9fafa;
        border-radius: 6px;
        justify-content: center;
        align-items: center;
        transition: background-color .25s ease-in-out,color .25s ease-in-out;
        display: flex;
    }
    .footer_social-link:hover {
        background-color: #EEEEEE;
    }
    .footer_social-link:hover .icon svg {
        fill: #182cc0;
    }
    .header_menu-mobile-inner {
        flex-direction: column;
        flex: 1;
        display: flex;
        overflow: auto;
        max-height: 100%;
    }
    .header_menu-mobile-main {
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        flex: 1;
        display: flex;
    }
    .header_menu-mobile-bottom {
        background-color: #fff;
        border-top: 1px solid #eef1f1;
        padding-top: 28px;
        padding-bottom: 28px;
        font-size: 12px;
    }
    .header_menu-mobile-contacts {
        flex: 1;
        padding: 32px 47px;
    }        
    
    .header_mobile-dropdown-toggle {
        width: 100%;
        max-width: 1110px;
        color: #141719;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        padding: 32px 0 0;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        position: relative;
    }

    .header_mobile-dropdown-toggle svg {
        transition: transform 0.6s ease-in-out;
    }
    .footer_contact-list {
        grid-row-gap: 16px;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 32px;
        margin-bottom: 32px;
        font-style: normal;
        display: flex;
    }
    .icon {
        justify-content: center;
        align-items: center;
        display: flex;
        transition: opacity 0.5s;
    }
    .footer_social-list {
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        flex-wrap: wrap;
        display: flex;
    }
    .footer_bottom-logo-wrapper {
        grid-column-gap: 8px;
        align-items: center;
        display: flex;
    }
    .footer_bottom-links {
        grid-column-gap: 35px;
        grid-row-gap: 8px;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
    }
    .footer_bottom-link {
        color: #555F62;
        font-size: 16px;
        text-decoration: none;
        transition: color .25s ease-in-out;
    }
    .header_mobile-dropdown {
        border-bottom: 1px solid #d1d5d6;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 32px;
        padding-left: 47px;
        padding-right: 47px;
    }

    .header_mobile-dropdown-list {
        overflow: hidden;
        height: 0;
        transition: height 0.6s ease-out;
    }

    .header_mobile-dropdown-list-inner {
        height: max-content;
        width: 100%;
        max-width: 1110px;
        grid-row-gap: 16px;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        display: flex;
    }
    .header_dropdown-line {
        width: 100%;
        height: 2px;
        transform-style: preserve-3d;
        background-color: #182cc0;
        border-radius: 1px;
        margin-bottom: -1px;
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .header_menu-button {
        grid-row-gap: 5px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8px;
        transition: color .25s;
        display: none;
        position: relative;
    }
    .header_menu-button-line-1,
    .header_menu-button-line-2,
    .header_menu-button-line-3 {
        background-color: #555f62;
        border-radius: 1px;
        transition: .6s;
        transform-style: preserve-3d;
    }
    
    .header_menu-button-line-1 {
        width: 11px;
        height: 2px;
        transform-origin: 100%;
    }    
    .header_menu-button-line-2 {
        width: 20px;
        height: 2px;
    }
    
    .header_menu-button-line-3 {
        width: 15px;
        height: 2px;
        transform-origin: 100% 100%;
    }
    
    .header_menu-button.active .header_menu-button-line-1 {
        transform: rotate(-45deg) translate(5px, 5px);
        width: 20px;
    }
    
    .header_menu-button.active .header_menu-button-line-2 {
        opacity: 0;
    }
    
    .header_menu-button.active .header_menu-button-line-3 {
        transform: rotate(45deg) translate(5px, -5px);
        width: 20px;
    }
    .lang_dropdown {
        z-index: 5;
        position: relative;
        display: inline-block;
        background-color: none;
        transition: background-color .3s ease-in-out;
    }
    .lang_dropdown:hover {
        background-color: #EEF1F1;
    }
    .lang_toggle {
        height: 36px;
        grid-column-gap: 4px;
        cursor: pointer;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 700;
        transition: background-color 0.25s ease-in-out;
        display: flex;
    }
    .lang_list-wrapper {
        grid-row-gap: 8px;
        flex-direction: column;
        padding-top: 4px;
        display: none;
        position: absolute;
        top: 36px;
        bottom: auto;
        left: 0;
        right: 0;
    }
    .lang_list {
        color: #141719;
        background-color: #fff;
        border: 1px solid #e1e4e5;
        border-radius: 4px;
        flex-direction: column;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 500;
        display: flex;
        box-shadow: 0 4px 6px 2px rgba(12,43,67,.05);
    }
    .lang_list-item {
        text-align: center;
        cursor: pointer;
        padding-top: 4px;
        padding-bottom: 4px;
        transition: background-color .25s ease-in-out;
    }
    .lang_dropdown:hover .lang_list-wrapper {
        display: block;
    }